.scoreboard-ul {
    width: 15%;
    display: block;
    padding: 10px;
}   
.scoreboard-li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    font-size: 15px;
}

.scoreboard-name{
    margin-right: 10px;
}

.scoreboard-div {
    width: 30%;
    height: 100%;
    display: flex;
}
