.waiting-room {
    display: flex;
    height: 700px;
    flex-direction: column;
}

.waiting-room-profiles {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 4%;    
    /* padding-left: 8%; */
    /* padding-right: 8%; */
    /* border: 3px groove #0336FF; */
    border-radius: 10px;
    /* border: 7px groove #43677c; */
    border-radius: 35px;
    box-shadow: 9px 5px 5px 1px rgb(121, 163, 184);
    /* -webkit-box-shadow: 9px 11px 22px 1px #344955;  */
    /* background-color: lightpink; */
    background-image: url("../../images/balloons.jpg"); 
    background-size: cover; 
}


.waiting-room-ready2 {
    justify-content: center;
    align-self: center;
    font-size: 16px;
    margin-bottom: 5%;
    padding: 5px 15px 5px 15px;
    background-color: lightblue;
    border-radius: 5px;
    /* border: 3px solid lightblue; */
}

.ready-button-div {
    justify-content: center;
    align-self: center;
}

.chat-component-div {
    width: 30%;
    padding-right: 3%;
}