@media (max-width: 767px) {
}

.waiting-room {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.waiting-room-profiles {
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 4%;
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius: 4% 90% 6% 90%/90% 4% 88% 5%;
  /* background-image: url("../../../images/balloons.jpg"); */
  /* background-size: cover; */
  background-color: white;
}

.waiting-room-ready2 {
  justify-content: center;
  align-self: center;
  font-size: 16px;
  margin-bottom: 5%;
  padding: 5px 15px 5px 15px;
  background-color: lightblue;
  border-radius: 5px;
}

.ready-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  position: absolute;
  bottom: 10%;
}

.chat-component-div {
  width: 30%;
  padding-right: 3%;
}

.waiting-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 20px;
}

.difficulty-div {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  width: 30%;
  padding-top: 10px;
  /* background-color: red; */
}

.waiting-buttons {
  cursor: pointer;
  border: solid black;
  border-width: 1px 1px 3px 3px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  font-size: 20px;
  padding: 5px;
  font-family: "Indie Flower", cursive;
  margin-left: 10px;
  margin-right: 10px;
}

.waiting-buttons-selected {
  cursor: pointer;
  border: solid black;
  border-width: 1px 1px 3px 3px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  font-size: 20px;
  padding: 5px;
  font-family: "Indie Flower", cursive;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightgray;
}

.room-id-header {
  font-family: "Indie Flower", cursive;
}

.not-host {
  cursor: not-allowed;
}

.profile-icon-div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-this-div {
  width: 100px;
  margin-left: 20px;
}
