.chat {
  position: relative;
  border: 4px solid pink;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(252, 243, 243);
  box-shadow: 9px 5px 5px 1px rgb(121, 163, 184);
}

.msg-container {
  height: 100%;
}

.msg-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
}

.msg-li {
  display: flex;
  padding-bottom: 7px;
}

.msg-li > .user-icon {
  padding-right: 10px;
}

.chat-input-div {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  height: 6%;
  position: relative;
  border-top: 2px solid pink;
  background-color: inherit;
}

.chat-input {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  background-color: inherit;
  border: none;
  /* no border until we decide color */
}

.user-icon {
  width: 70px;
  color: blue;
  font-weight: bold;
}

.msg-body {
  position: relative;
  width: 20%;
}
