@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swa');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

.canvas-page {
  width: 800px;
  height: 600px;
  display: flex;
  /* flex-direction: column; */
}

.drawer-viewer {
  position: absolute;
  top: 10px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}

.canvas-main {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
}

#pictionary-canvas {
  width: 800px !important;
  height: 600px !important;
}

.scoreboard-chat{
  display: block;
  flex-direction: column;
  width: 25vw;
}

.canvas-container {
  display: flex;
  height: 610px;
  width: 800px;
  border-radius: 35px;
  background-color: white;
  border-width: 5px 3px 3px 5px;
  /* border-radius:95% 4% 97% 5%/4% 94% 3% 95%; */
  border: solid black;
  /* box-shadow: 9px 11px 22px 1px rgb(51, 90, 110); */
  -webkit-box-shadow: 9px 11px 15px 1px #344955; 
  /* margin: 5% 0 0 5%; */
  flex-direction: column;
}

.canvas-button-container {
  display: flex;
  justify-content: baseline;
  margin-right: 10px;
  margin-left: 10px;
}

.canvas-button {
	box-shadow: 3px 4px 0px 0px #bdbdbd;
	background:linear-gradient(to bottom, #ffffff 5%, #FF80F4 100%);
	background-color:#ffffff;
	border-radius: 20px;
	border:1px solid #0a0a0a;
	color:#000000;
	font-family: 'Indie Flower', cursive;
  font-weight: bold;
	text-decoration:none;
  margin-right: 5px;
}

.color-picker-btn {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  flex-direction: column;
  min-width: 150px;
  top: 150px;
  left: 25px;
}

.canvas-bottom-button {
  box-shadow: 3px 4px 0px 0px #bdbdbd;
	background:linear-gradient(to bottom, #ffffff 5%, #FF80F4 100%);
	background-color:#ffffff;
	border-radius: 20px;
	border:1px solid #0a0a0a;
	color:#000000;
	font-family: 'Indie Flower', cursive;
  font-size: 12px;
  font-weight: bold;
	text-decoration:none;
  margin-right: 5px;
  align-self: center;
}

.clues {
  border-radius: 35px;
  background-color: white;
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  border: solid rgb(86, 207, 255);
  box-shadow: 9px 11px 22px 1px rgb(51, 90, 110);
  -webkit-box-shadow: 9px 11px 15px 1px #344955; 
}

.target-word {
  align-self: center;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
  border-radius: 35px;
  background-color: white;
  border-width: 5px 3px 3px 5px;
  /* border-radius:10% 4% 97% 5%/4% 94% 3% 95%; */
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  border: solid black;
  /* box-shadow: 9px 11px 22px 1px rgb(51, 90, 110); */
  /* -webkit-box-shadow: 9px 11px 15px 1px #344955;  */
  text-align: center;
  padding: 10px;
}

.canvas-and-word {
  display: flex;
  flex-direction: column;
  margin: 4% 0 0 5%;
}

.instructions-button {
  font-family: 'Indie Flower', cursive;
  background: #FFF;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #000;
  height: 5%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 51%;
  font-size: 20px;
}