@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swa");
@import url("https://fonts.googleapis.com/css?family=Handlee&display=swap");

.canvas-page {
  width: 800px;
  height: 600px;
  display: flex;
}

.drawer-viewer {
  position: absolute;
  top: 10px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}

.tool-others {
  transform: translateX(-80px);
}

.canvas-main {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  cursor: crosshair;
}

#pictionary-canvas {
  width: 800px !important;
  height: 600px !important;
}

.scoreboard-chat {
  display: block;
  flex-direction: column;
  width: 25vw;
  height: 90vh;
  min-height: 250px;
}

.canvas-container {
  display: flex;
  height: 610px;
  width: 800px;
  border-radius: 35px;
  background-color: white;
  border-width: 5px 3px 3px 5px;
  border: solid black;
  -webkit-box-shadow: 9px 11px 15px 1px #344955; 
  flex-direction: column;
}

.canvas-button-container {
  display: flex;
  justify-content: baseline;
  margin-right: 10px;
  margin-left: 10px;
}

.canvas-button {
  box-shadow: 3px 4px 0px 0px #bdbdbd;
  background: linear-gradient(to bottom, #ffffff 5%, #ff80f4 100%);
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #0a0a0a;
  color: #000000;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
}

.color-picker-btn {
  display: flex;
  position: absolute;
  min-width: 150px;
  top: 50px;
  left: 90px;
}

.canvas-bottom-button {
  box-shadow: 3px 4px 0px 0px #bdbdbd;
	background:linear-gradient(to bottom, #ffffff 5%, rgb(255, 217, 0) 100%);
	background-color:#ffffff;
	border-radius: 20px;
	border:1px solid #0a0a0a;
	color:#000000;
	font-family: 'Indie Flower', cursive;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  align-self: center;
}

.clues {
  border-radius: 35px;
  background-color: white;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  border: solid rgb(86, 207, 255);
  box-shadow: 9px 11px 22px 1px rgb(51, 90, 110);
  -webkit-box-shadow: 9px 11px 15px 1px #344955;
}

.target-word {
  align-self: center;
  padding: 10px;
  font-size: 24px;
  font-family: "Indie Flower", cursive;
  border-radius: 35px;
  background-color: white;
  border-width: 5px 3px 3px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  border: solid black;
  text-align: center;
  margin-top: -4%;
}

.canvas-and-word {
  display: flex;
  flex-direction: column;
  padding: 4% 2% 2% 5%;
}

.observer-leave { 
  position: absolute;
  bottom: 20px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  border: solid black;
  background: white;
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 9px 11px 15px 1px #344955;
  cursor: pointer;
}

.observer-leave:hover {
  -webkit-box-shadow: 0 2px 0 2px #f03755, 9px 11px 15px 1px #344955;
}

.observer-leave:active {
  bottom: 16px;
  left: 20px;
  -webkit-box-shadow: none;
}

.instructions-button {
  display: flex;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
  background: #FFF;
  border-radius: 50%;
  border: 2px solid #000;
  font-family: 'Indie Flower', cursive;
}

.instructions-button:hover {
  -webkit-box-shadow: 0 2px 0 2px #f03755, 9px 11px 15px 1px #344955;
}
