.chat {
  position: relative;
  border: 1px solid #666;
  width: 200px;
}

.msg-container {
  height: 300px;
}

.msg-list {
  padding: 0;
}

.msg-body {
  display: flex;
}

.msg-body > .user-icon {
  padding-right: 10px;
}
