@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swa");
@import url("https://fonts.googleapis.com/css?family=Handlee&display=swap");

.app-main {
  height: 100%;
  width: 100vw;
  position: relative;
  min-width: 850px;
  overflow: scroll;
  background-position: center;
  background-size: cover;
}

.lobby-scoreboard-div {
  width: 100%;
  padding: 25px;
}

.game-components-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

#canvas-and-timer-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#timer-div {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  height: 8vh;
}

#timer-circle {
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-family: "Handlee", cursive;
}

.lobby-page {
  background-image: url("../images/pencil-round.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-width: 850px;
  height: 100%;
}

.lobby {
  display: flex;
  padding: 2%;
  flex-direction: row;
  height: 75vh;
}

.lobby .nav-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.game-rooms-div {
  width: 68%;
  margin-right: 2%;
  box-shadow: 9px 11px 22px 1px rgb(51, 90, 110);
  -webkit-box-shadow: 9px 11px 15px 1px #344955;
}

.lobby .chat {
  height: 100vh;
  width: 90%;
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  background-color: white;
  border-bottom: none;
  min-height: 250px;
}

.lobby .msg-container {
  height: 95%;
  padding: 0px 10px;
  margin-top: 15px;
}

.lobby .msg-list {
  margin: 20px;
  padding: 10px;
  height: 98%;
  margin: 0px;
}

.chat input {
  outline: none;
  min-height: 30px;
}

.lobby .chat-input {
  font-family: "Handlee", cursive;
}

.lobby .user-icon,
.lobby .msg-body {
  font-family: "Handlee", cursive;
  width: fit-content;
}
