@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swa');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

@media (max-width: 767px) {

}

.waiting-room {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.waiting-room .waiting-room-profiles {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 10%;   
    border-radius: 10px;
    background-image: url("../../images/balloons.jpg"); 
    background-size: cover; 
}


.waiting-room-ready2 {
    justify-content: center;
    align-self: center;
    font-size: 16px;
    margin-bottom: 5%;
    padding: 5px 15px 5px 15px;
    background-color: lightblue;
    border-radius: 5px;
}

.ready-button-div {
    justify-content: center;
    align-self: center;
}

.chat-component-div {
    width: 30%;
    padding-right: 3%;
}

.delete-this-div .testing p {
    color: red;
}