@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swa');

.nav-bar-main {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 2%;
    /* height: 20vh; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.nav-bar-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.disabled-link {
    text-decoration: none;
    color: inherit;
}

.disabled-link:hover{
    text-decoration: none;
    color: inherit;
}

.nav-bar-main .nav-bar-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-bar-main .nav-bar-logout {
    border: solid black;
    border-width: 1px 1px 3px 3px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: 'Indie Flower', cursive;
    color: black;
    font: bolder;
}

.nav-bar-logout:hover {
    background-color: lightgray;
}



.nav-bar-main .navbar-logo img {
    display: flex;
    /* width: 100px; */
    /* margin: 0px; */
    height: 100px;
}