.nav-bar-main .nav-bar-logout {
    display: flex;
    border: solid black;
    border-width: 1px 1px 3px 3px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
    margin-right: 10px;
    cursor: pointer;
}