@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swa");

.question-modal {
  border: 5px solid black;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(-2deg);
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 10;
  padding: 10px;
  font-family: "Indie Flower", cursive;
  overflow: scroll;
}

.question-modal > div {
  margin: 25px;
}

.question-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  text-align: center;
  margin: auto;
}

.question-header h1 {
  font-weight: bolder;
  font-size: 24px;
}

.close-button {
  margin-right: -5px;
}

.close-button .leftright {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 14px;
  background-color: black;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.close-button:hover .leftright {
  transform: rotate(-45deg);
  background-color: red;
}

.close-button .rightleft {
  height: 4px;
  width: 20px;
  margin-top: 14px;
  background-color: black;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close-button:hover .rightleft {
  transform: rotate(45deg);
  background-color: red;
}

.close-button label {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.close-button:hover label {
  opacity: 1;
}

.close-button .close {
  margin: 20px 0 0 0;
}

.question-header span {
  cursor: pointer;
}

.question-footer h1 {
  font-weight: bolder;
  font-size: 24px;
}

.question-modal h2 {
  font-size: 18px;
}
