.question-modal {
    position: absolute;
    border: 5px solid black;
    top: 20%;
    height: 50%;
    width: 50%;
    left: 25%;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    z-index: 10;
  }

  .question-header span {
      cursor: pointer;
  }
  .question-header span:hover {
      border: 3px solid blue;
  }