@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swa');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

.home-main {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('./images/diff-pen.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.home-logo img {
  width: 35vw;
  height: auto;
  align-self: center;
  margin-top: -5%;
}

.carousels img {
  height: 45vh;
  max-width: 90vw;
  padding: 0 20px 20px 20px;
  /* margin-top: -5%; */

}

.home-button {
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.home-login {
  width: 20%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  margin: 30px;
  background-color: white;
  font-family: 'Indie Flower', cursive;
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(2deg);
}

.home-login:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}

.home-signup {
  width: 20%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  margin: 30px;
  background-color: white;
  font-family: 'Indie Flower', cursive;
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.home-signup:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}
