.game-room-div {
  display: flex;
  flex-wrap: wrap;
  border: solid black;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
  width: 40%;
  height: 40%;
  margin: 5%;
  padding: 2%;
  cursor: pointer;
  overflow: auto;
}
.game-room-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.game-room-player {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}
